<div class="row">
  <div class="col-md-8">
    <h1>○○ブログ</h1>
    <h3>記事一覧</h3>
    <ul>
      <% @posts.each do |post| %>
        <li>
          <h2><%= link_to post.title, post_path(post) %></h2>
          <p><%= post.category %></p>
          <p><%= truncate post.body %></p>
          <%= link_to "続きを読む", post_path(post) %>
          <%= link_to '削除', post_path(post), method: :delete %>
          <%= link_to '編集', edit_path(post) %>
        </li>
      <% end -%>
    </ul>
  </div> <!-- "col-sm-8" -->

  <div class="col-md-4">
    <%= image_tag @author.image_url, class:"img-responsive" %>
    <p>著者情報</p>
    <p><%= @author.name %></p>
    <p><%= @author.description %></p>
    <%= link_to '記事を作成', '/posts/new' %>


  </div>
</div> <!-- "row" -->

<%= paginate @posts %>
